/* .container-nav {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */

.nav-bar {
  overflow: hidden;
}

.nav-bar li {
  display: inline;
  /* margin-right: 40px;
  margin-top: 10px; */
}
.nav-bar ul {
  padding-inline-start: 0px;
}
.nav-bar a {
  font-family: 'Inconsolata', monospace;
  float: left;
  text-align: center;
  padding-bottom: 10px;
  padding-right: 45px;
  text-decoration: none;
  font-size: 17px;
}

body h1 {
  color: white;
  font-size: 60px;
  padding: 0;
  font-family: 'Inconsolata', monospace;}
.site-header a:hover{
  text-decoration: none !important;
}
body h2 {
  padding:  10px;
  padding-left:  0;
  color: black;
  font-family: 'Inconsolata', monospace;}
h3, h4, h5, h6 {
  font-family: 'Inconsolata', monospace;}
p, a {
  font-family: 'Montserrat', sans-serif;
}
body .header {
  /* background-color: #0070ec; */
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }
  body .header a, body .header p {
    color: white; }
  body .header img {
    height: 13em; }
body .header-inner {
  padding-top: 30px; }
body .header-container {
  padding-right: 0;
  padding-left: 0; }

body .container-width {
  max-width: 1000px;
}
body .site-header {
  text-decoration: none; }
body blockquote {
  font-size: 14px; }
body hr {
  background-color: #0070ec;
  opacity: 0.1;
  margin-top: 10px;
  margin-bottom: 30px; }
body .footer {
  background-color: #0070ec;
  padding-top: 1rem;
  padding-bottom: 2em; }
body .footer, body .footer a, body .footer h2, body .footert h3, body .footer h4, body .footer h5, body .footer p, body .footer li {
  color: white; }
/* body .mybutton-outline, body .mybutton:hover {
  color: #0070ec;
  background-color: white;
  border-color: #0070ec; }
body .mybutton, body .mybutton-outline:hover {
  color: white;
  background-color: #0070ec;
  border-color: white; }
body .header .mybutton-outline, body .header .mybutton:hover {
  color: #0070ec;
  background-color: white;
  border-color: #0070ec; }
body .header .mybutton, body .header .mybutton-outline:hover {
  color: white;
  background-color: #0070ec;
  border-color: white; } */
body .karta {
  height: 100%;
  margin-bottom: 1em;
  padding-top: 1em; }
  body .karta .company {
    text-align: left; }
body .karta1 {
  border-right: 1px solid #dfdfdf; }

/* .footer {
  padding-top: 5px;
} */


.text-center {
  text-align: center !important;
}

.text-white {
  color: white!important;
}

.p-no-bottom {
  margin-bottom: 0!important;
}
