.header {
  background-color: #CB4C2B;
}
.nav-bar li {
  display: inline;
  margin-right: 40px;
  margin-top: 10px;
}
.nav-bar ul {
  padding-inline-start: 0px;
}
.nav-bar a {
  font-family: 'Inconsolata', monospace;
  color: black
}
.header a {
  color: white;
}

a, a:hover {
  color: #CB4C2B}
body .mybutton-outline, body .mybutton:hover {
  color: #CB4C2B;
  background-color: white;
  border-color: #CB4C2B; }
body .mybutton, body .mybutton-outline:hover {
  color: white;
  background-color: #CB4C2B;
  border-color: white; }
body .header .mybutton-outline, body .header .mybutton:hover {
  color: #CB4C2B;
  background-color: white ;
  border-color: #CB4C2B; }
body .header .mybutton, body .header .mybutton-outline:hover {
  color: white;
  background-color: #CB4C2B;
  border-color: white; }
