.header {
  background-color: #6392EC;
}

a {
  color: #6392EC;
}
a:hover {
  color: #326DE6;}
body .mybutton-outline, body .mybutton:hover {
  color: #6392EC;
  background-color: white;
  border-color: #6392EC; }
body .mybutton, body .mybutton-outline:hover {
  color: white;
  background-color: #6392EC;
  border-color: white; }
body .header .mybutton-outline, body .header .mybutton:hover {
  color: #6392EC;
  background-color: white;
  border-color: #6392EC; }
body .header .mybutton, body .header .mybutton-outline:hover {
  color: white;
  background-color: #6392EC;
  border-color: white; }
